.menuBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: calc(100%);
    text-align: center;
    padding: 16px 0px;
}

.menuBar button {
    margin-right: 48px;
}